
/* Style for the order list */
.order-list {
  display: flex;
  flex-wrap: wrap;
}

/* Style for each order item */
.order-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  background-color: #fbfbfb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(29.33% - 20px);
}

/* Style for the order information section */
.order-info {
  margin-bottom: 10px;
}

/* Style for labels within the order information section */
.order-info label {
  font-weight: bold;
}

/* Style for order status */
.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

/* Style for different order statuses */
.status.accepted {
  background-color: lightgreen;
  color: white;
}

.status.rejected {
  background-color: lightcoral;
  color: white;
}

.status.pending {
  background-color: rgb(183, 152, 59);
  color: white;
}

/* Style for the order items section */
.order-items {
  margin-bottom: 10px;
}

/* Style for each order item details */
.order-item-details {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

/* Style for product title */
.product-title {
  font-weight: bold;
}

/* Style for total price and quantity */
.total-price,
.quantity {
  margin-top: 5px;
}

/* Style for the order date */
.order-date {
  font-weight: bold;
}

/* Style for the order action section */
.order-action {
  // margin-top: 10px;
  display: flex;
  justify-content: center;
}

/* Style for the cancel order button */
.Button {
  background-color: #ff6961;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Hover effect for the cancel order button */
.Button:hover {
  background-color: #ff0000;
}